*{
margin: 0px auto;
}


.navbar1 {
    display: flex;
    list-style-type: none;
    background-color: #6181f5;
    font-size: 25px;
    font-weight: 900;
    justify-content: space-around;
  }
  li a{
      display: block;
    color: white;
    padding: 13px 16px;
    text-decoration: none;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
  }
  
li a:hover {
    background-color: rgb(66, 192, 41);
  }
  .active {
    background-color: rgb(7, 182, 36);
  }
  .cart {
    width: 4%;
    position: absolute;
    right: 5.08%;
    padding-top: 4px;
}
  .navbar1 p{
    padding-right: 20px;
    padding-top: 10px;

  }
  #item {
    color: black;
    position: absolute;
    z-index: 1;
    right: 5.14%;
    padding: 0px 7px;
    background-color: white;
    border-radius: 50%;
    font-size: 16px;
    margin-top: 3px;
}  

.d_flex{
display: flex;
}